.login_form{
  position: relative;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: max-content;
  border: 1px solid;
}
.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}